<div class='main-content'>
  <div class='content-wrapper'>
    <div class="bio-item">
      <div class='top-row'>
        <div class='top-row-item-1'>
          <div class='row-1'>
            <% if bio_photo(person[:photo][:file]) %>
              <div class="photo <%= person[:photo][:orientation] %>">
                <%= bio_photo(person[:photo][:file]) %>
              </div>
            <% end %>
            <div class='personal-details'>
              <h1 class='name'>
                <%= person[:full_name] %>
              </h1>
              <div class='title'>
                <%= person[:title] %>
              </div>
              <% if person[:web_links] %>
                <div class='inline-web-links'>
                  <% person[:web_links].each do |web_link| %>
                    <div class='web-link'>
                      <%= link_to web_link[:address], target: '_blank' do %>
                        <%= web_link[:label] %>
                        <%= fa_icon('external-link') %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% if person[:web_links] %>
            <div class='under-web-links'>
              <% person[:web_links].each do |web_link| %>
                <div class='web-link'>
                  <%= link_to web_link[:address], target: '_blank' do %>
                    <%= web_link[:label] %>
                    <%= fa_icon('external-link') %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class='bio'>
            <p class='bio-content'>
              <%= person[:bio].html_safe %>
            </p>
          </div>
        </div>
      </div>
    </div>
