
<div class='location'>
  <%= link_to "https://www.google.de/maps/place/52%C2%B033'20.3%22N+13%C2%B024'53.3%22E", target: "_blank" do %>
    <%= fa_icon('map-marker') %>
    5233'20.3"N 13°24'53.3"E (WBB Berlin)
  <% end %>
</div>
<div class='exhibition-details'>
  <%= link_to "https://www.facebook.com/events/1971295013128156/", target: "_blank" do %>
    Exhibition opening 16.09.2017, 6pm
    <%= fa_icon('external-link') %>
  <% end %>
</div>
<div class='closing-party-details'>
  <%= link_to "https://www.facebook.com/events/871289369694040/", target: "_blank" do %>
    Kepler 452b Launch 23.09.2017, 8pm doors open
    <%= fa_icon('external-link') %>
  <% end %>
</div>
<div class='mail-link'>
  <%= link_to 'mailto:info@kepler452b.org' do %>
    <%= fa_icon('envelope') %>
    info@kepler452b.org
  <% end %>
</div>
