<div class='header'>
  <div class='header-inner'>
    <%= link_to image_tag('kepler_circle_logo_nasa.png'), index_path, class: 'logo' %>
    <div class='hamburger'>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>

<div class='nav-container'>
  <div class='grid-item about label'>
    <%= link_to 'home', index_path %>
  </div>
  <div class='grid-item about icon'>
    <%= link_to fa_icon('home'), root_path%>
  </div>
  <div class='grid-item about label'>
    <%= link_to 'about', about_path %>
  </div>
  <div class='grid-item about icon'>
    <%= link_to fa_icon('info-circle'), about_path %>
  </div>
  <div class='grid-item tickets label'>
    <%= link_to "tickets", CONTENT[:resident_advisor_path], target: '_blank' %>
  </div>
  <div class='grid-item tickets icon'>
    <%= link_to fa_icon('ticket'), CONTENT[:resident_advisor_path], target: '_blank' %>
  </div>
  <div class='grid-item instagram label'>
    <%= link_to "instagram", CONTENT[:instagram_path], target: '_blank' %>
  </div>
  <div class='grid-item instagram icon'>
    <%= link_to fa_icon('instagram'), CONTENT[:instagram_path], target: '_blank' %>
  </div>
  <div class='grid-item facebook label'>
    <%= link_to "facebook", CONTENT[:facebook_path], target: '_blank' %>
  </div>
  <div class='grid-item facebook icon'>
    <%= link_to fa_icon('facebook-square'), CONTENT[:facebook_path], target: '_blank' %>
  </div>
</div>

<div class='overlay'></div>
