<div class='header'>
  <h3 class='logo'>Kepler 452b</h3>
  <ul class='nav'>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'about', about_path %></li>
    <li><%= link_to 'tickets', CONTENT[:resident_advisor_path] %></li>
    <li><%= link_to 'instagram', CONTENT[:instagram_path] %></li>
    <li><%= link_to 'facebook', CONTENT[:facebook_path] %></li>
  </ul>
</div>
