<div class='splash'>
  <div id="socialmedia1">
    <%= link_to image_tag("facebook-icon.png"), "https://www.facebook.com/kepler452b.org", target: '_blank' %>
  </div>
  <div id="socialmedia2">
    <%= link_to image_tag("instagram-icon.png"), "https://www.instagram.com/kp452b/", target: '_blank' %>
  </div>
  <div id="logo">
    <%= image_tag "kepler452b.png", alt: "Kepler452b.org" %>
  </div>
  <div id="location">
    <%= link_to "https://www.google.de/maps/place/52%C2%B033'20.3%22N+13%C2%B024'53.3%22E", target: "_blank" do %>
      <%= image_tag "gps_date.png" %>
    <% end %>
  </div>
</div>
