<div id="<%= person[:simple_name] %>" class="bio-item">
  <div class='top-row'>
    <div class='top-row-item-1'>
      <div class='back-button-row'>
        <div class='bio-back-button back-arrow' data-target="<%= member_of %>"></div>
        <div class='bio-back-button back-text' data-target="<%= member_of %>"><%= member_of %></div>
      </div>
    </div>
    <div class='top-row-item-2'>
      <div class='row-2'>
        <div class='photo'>
        </div>
        <div class='personal-details'>
          <h1 class='name'>
            <%= person[:name] %>
          </h1>
          <div class='title'>
            <%= person[:title] %>
          </div>
          <div class='web-link'>
            <%= link_to person[:web_link], person[:web_link], target: '_blank' %>
          </div>
        </div>
      </div>
      <div class='bio'>
        <div class='bio-content'>
          <%= person[:bio] %>
        </div>
      </div>
    </div>
  </div>
</div>
