<div class="back-layer link-layer layer" data-depth="0.80">
  <h2 class='category-link team constellation-link' data-target='team'>team</h2>
  <div class='team-links group-links'>
    <%= render partial: 'group', locals: { people: first_third(@team) } %>
  </div>
  <div class='performance-links group-links'>
    <%= render partial: 'group', locals: { people: first_third(@performance) } %>
  </div>
  <div class='music-links group-links'>
    <%= render partial: 'group', locals: { people: first_third(@music) } %>
  </div>
</div>

<div class="middle-layer link-layer layer" data-depth="0.90">
  <h2 class='category-link performance constellation-link' data-target='performance'>performance</h2>
  <div class='team-links group-links'>
    <div class='group-back-button back-arrow'></div>
    <%= render partial: 'group', locals: { people: second_third(@team) } %>
  </div>
  <div class='performance-links group-links'>
    <div class='group-back-button back-arrow'></div>
    <%= render partial: 'group', locals: { people: second_third(@performance) } %>
  </div>
  <div class='music-links group-links'>
    <div class='group-back-button back-arrow'></div>
    <%= render partial: 'group', locals: { people: second_third(@music) } %>
  </div>
</div>

<div class="front-layer link-layer layer" data-depth="1.0">
  <h2 class='category-link music constellation-link' data-target='music'>music</h2>
  <div class='team-links group-links'>
    <%= render partial: 'group', locals: { people: third_third(@team) } %>
  </div>
  <div class='performance-links group-links'>
    <%= render partial: 'group', locals: { people: third_third(@performance) } %>
  </div>
  <div class='music-links group-links'>
    <%= render partial: 'group', locals: { people: third_third(@music) } %>
  </div>
  </div>
</div>
