<div class='welcome'>
  <div class='index constellation-index'>
    <h3 id="crew" class="constellation-link" data-destination='back-layer'>
      <%= link_to 'crew', crew_members_path %>
    </h3>
    <h3 id="performance" class="constellation-link" data-destination='back-layer'>
      <%= link_to 'performance', performers_path %>
    </h3>
    <h3 id="about" class="constellation-link" data-destination='middle-layer'>
      <%= link_to 'about', about_path %>
    </h3>
    <h3 id="designers" class="constellation-link" data-destination='middle-layer'>
      <%= link_to 'designers', designers_path %>
    </h3>
    <h3 id="location" class="constellation-link" data-destination='front-layer'>
      <%= link_to 'location', CONTENT[:location_link], target: "_blank" %>
    </h3>
    <h3 id="music" class="constellation-link" data-destination='front-layer'>
      <%= link_to 'music', musicians_path %>
    </h3>
    <h3 id="program" class="constellation-link" data-destination='front-layer'>
      <%= link_to 'program', program_path %>
    </h3>
  </div>
</div>
