
<div class='container'>

  <%= render "cover" %>

  <div class='main'>
    <div id="scene" data-pointer-events='true'>

      <%= render partial: 'stars' %>

      <%= render partial: 'main_content' %>

      <%= render partial: 'constellation_links' %>

      <%= render partial: 'header' %>

      <%= render "nav" %>

      <div class='overlay'></div>
    </div>
  </div>
</div>
